

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
}

html, body {
    font-family:  Arial, Helvetica, sans-serif;
    background-image: url("images/bg_tiles_gray.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.buttono {

    font-family: "karma_arcade", Arial, Helvetica, sans-serif;
    background-color: #345f9e;
    min-width: 150px;
    max-width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px black;
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
    
    
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 3px black;
    padding: 5px;
    word-break: keep-all;
    

}

a {
    text-decoration: none;
    color: white;
}

#selection {
    
    
    min-width: 300px;
    max-width: 400px;
    margin: 1em auto;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    
    

}

#frequence {
    min-width: 300px;
    max-width: 400px;
    
    width: 30%;
    
    
}

#curation_1 {
    display: flex;
    flex-direction: column;;
}

#curation_2 {
    display: flex;
    flex-direction: column;;
}

footer {
    
    min-width: 300px;
    max-width: 400px;
    margin: 1em auto;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    

}

#title {
    
    min-width: 300px;
    max-width: 400px;
    margin: 1em auto;
    width: 30%;
    
    background: lightgray;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 0.5em;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 0px 0px 3px black;
    font-size: 1.5em;
    text-overflow: ellipsis;
    word-break: keep-all;
    
    
}

#id {
    font-size: 0.5em;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 1em;
}

p {
    margin-top: 1em;
}

a {
    text-decoration: none;
    color: black;
}




@keyframes move_up_and_down {
    0% {transform: rotate(10deg);}
    50% { transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
}




#cycle {
    
    background: lightgreen;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-size: 1em;
    
    
}

.pink {
    background: lightcoral;
}

.frequence {
    min-width: 300px;
    max-width: 400px;
    margin: auto;
    width: 30%;
    display: flex;
    justify-content: center;
    
    
}

.fas, .far {

    transform: scale(2);
    position: relative;
    left: 8em;
    
    
}

.fas {

    top: 2em;
    color: orange;
}

.fa-home {
    transform: scale(3) translateX(-3em);
    
}

.far {
    top: -1em;
    color: white;
}

.fa-infinity, .fa-clock {

    color:black;
    top: -1em;
    left: 0;
}

#rafa {
    margin-top: 3em;
}